<h1>Welcome to Frank Weather</h1>

<h2>The app where Frank tells you the weather, frankly.</h2>

<div class="feature">
  <p>
    Enter a city and a country code
    for Frank to tell you the weather.
  </p>
</div>

<div class="feature">
  <form>
    <label>City</label>
    <input type="text" name="city" placeholder="London" />

    <label>Country Code</label>
    <input type="text" name="country" placeholder="UK" />
    
    <input type="submit" value="Submit" />
  </form>
</div>
