<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/application.css">
</head>
<body>
  <img class="frank-portrait" src="/images/sinatra-head.jpg">

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>