<html>
<head>
  <style>
    .container {
      max-width: 1335px;
      margin: 0 auto;
    }

    h1, h2 {
      margin-top: 3rem;
      text-align: center;
    }

    h1 { padding: 0 4rem; }

    h2, p { padding: 0 2rem; }

    .feature {
      display: flex;
      justify-content: center;
    }

    .feature p { text-align: center; }

    .grid-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
    }

    .grid-item {
      height: 250px;
      flex-basis: 100%;
      -ms-flex: auto;
      width: 259px;
      position: relative;
      padding: 10px;
      box-sizing: border-box;
    }

    @media (min-width: 550px) {
      .grid-item {
        flex-basis: 50%;
      }
    }

    @media (min-width: 768px) {
      .grid-item {
        flex-basis: 33.33333333%;
      }
    }

    @media (min-width: 992px) {
      .grid-item {
        flex-basis: 25%;
      }
    }

    form {
      display: grid;
      width: 300px;
    }

    input { margin: .5rem 0; }

    .card {
      margin: 3rem 0;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>